In [1]:
import sys
import os
import pandas as pd

module_path = os.path.abspath(os.path.join('..'))
sys.path.insert(1, module_path)

from metrics import get_performance_df_v2

In [2]:
df1 = pd.read_pickle('pickles/performance/small_cases/Case1/aggregate_2_1000_Case1_1.pkl')
df1

   experiment  precision  recall  f1_score  running_time
0           1   0.479167  0.7125   0.54131      12.81265

In [3]:
df4 = pd.read_pickle('pickles/performance/small_cases/Case4/aggregate_2_1000_Case4_1.pkl')
df4

   experiment  precision    recall  f1_score  running_time
0           1   0.495833  0.641667  0.528333     15.299991

In [10]:
df1 = pd.read_pickle('pickles/performance/small_cases/Case1/aggregate_3_1K_Case1_30.pkl')
df1.to_csv('pickles/performance/small_cases/Case1/aggregate_3_1K_Case1_30.csv', index=False)
df1

    experiment  precision    recall  f1_score  running_time
0            1   0.494444  0.711111  0.566667     11.247870
1            2   0.541667  0.616667  0.553889     11.181669
2            3   0.533333  0.638889  0.553651     11.122308
3            4   0.538889  0.591667  0.549841     11.228972
4            5   0.577778  0.672222  0.587937     11.161180
5            6   0.494444  0.672222  0.547778     11.153500
6            7   0.538889  0.619444  0.550000     11.117927
7            8   0.522222  0.580556  0.523016     11.084868
8            9   0.567778  0.575000  0.548254     11.133273
9           10   0.652778  0.651667  0.624630     11.147839
10          11   0.488889  0.494444  0.477778     11.166345
11          12   0.555556  0.611111  0.556667     11.228164
12          13   0.533333  0.630556  0.564048     11.150550
13          14   0.511111  0.671111  0.564074     11.095335
14          15   0.430556  0.500000  0.455873     11.045841
15          16   0.608333  0.561111  0.553333     11.120070
16          17   0.672222  0.658333  0.644127     11.156362
17          18   0.586111  0.625000  0.577222     11.132327
18          19   0.591667  0.672222  0.593333     11.111749
19          20   0.572222  0.600000  0.563968     11.122878
20          21   0.577222  0.613889  0.564683     11.146597
21          22   0.650000  0.597222  0.595635     11.132702
22          23   0.627778  0.661111  0.612222     11.191717
23          24   0.527778  0.633333  0.543333     11.158016
24          25   0.505556  0.672222  0.556667     11.115572
25          26   0.570000  0.682222  0.586852     11.140109
26          27   0.450000  0.500000  0.463492     11.091718
27          28   0.566667  0.711111  0.598889     11.078239
28          29   0.672222  0.669444  0.640159     11.176399
29          30   0.661111  0.577778  0.590238     11.144654

In [11]:
df4 = pd.read_pickle('pickles/performance/small_cases/Case4/aggregate_3_1K_Case4_30.pkl')
df4.to_csv('pickles/performance/small_cases/Case4/aggregate_3_1K_Case4_30.csv', index=False)
df4

    experiment  precision    recall  f1_score  running_time
0            1   0.566667  0.766667  0.612222     11.204195
1            2   0.511111  0.563889  0.510714     11.150844
2            3   0.580000  0.704444  0.608730     11.166936
3            4   0.513889  0.550000  0.512222     11.179530
4            5   0.647222  0.658333  0.617222     11.132461
5            6   0.488889  0.677778  0.545556     11.217803
6            7   0.569444  0.638889  0.572619     11.204848
7            8   0.541667  0.594444  0.544286     11.245242
8            9   0.540000  0.569444  0.523492     11.268175
9           10   0.555556  0.591667  0.541905     11.077230
10          11   0.516667  0.516667  0.504444     11.244391
11          12   0.580556  0.600000  0.562222     11.154835
12          13   0.536111  0.622222  0.560000     11.077354
13          14   0.544444  0.686111  0.589683     11.052383
14          15   0.451111  0.522222  0.465714     11.114852
15          16   0.571667  0.558333  0.536429     11.076833
16          17   0.650000  0.686111  0.639841     11.188979
17          18   0.563889  0.644444  0.579603     11.062384
18          19   0.550000  0.663889  0.567222     11.272152
19          20   0.562778  0.598889  0.555079     11.070333
20          21   0.585000  0.625000  0.571111     11.130877
21          22   0.641667  0.605556  0.598175     11.112244
22          23   0.680556  0.708333  0.655000     11.170287
23          24   0.517778  0.591667  0.523889     11.120475
24          25   0.472222  0.658333  0.534127     11.219782
25          26   0.567222  0.735000  0.599788     11.098427
26          27   0.450000  0.483333  0.448889     11.092275
27          28   0.527778  0.694444  0.572222     11.001599
28          29   0.650000  0.663889  0.630794     11.139171
29          30   0.655556  0.569444  0.587222     11.164820

## Case 1

In [6]:
df1 = pd.read_pickle('pickles/performance/cases/Case1/15/aggregate_15_100K_Case1.pkl')
df1

   experiment  precision    recall  f1_score  running_time
0           1   0.855082  0.681669  0.737969     76.834924
1           2   0.861240  0.691489  0.745356     76.534963
2           3   0.866952  0.699767  0.751286     77.169492
3           4   0.862300  0.683663  0.742411     75.872279
4           5   0.851995  0.681637  0.736617     79.277014
5           6   0.855594  0.689839  0.741731     77.958064
6           7   0.847360  0.674953  0.731906     77.326715
7           8   0.843633  0.681094  0.731395     76.964614
8           9   0.843369  0.682658  0.732730     78.435174
9          10   0.862135  0.689815  0.744777     75.689646

## Case 2

In [7]:
df2 = pd.read_pickle('pickles/performance/cases/Case2/15/aggregate_15_100K_Case2.pkl')
df2

   experiment  precision    recall  f1_score  running_time
0           1   0.833921  0.672180  0.723533     77.059677
1           2   0.833589  0.672369  0.722755     76.688494
2           3   0.839977  0.669430  0.723904     77.026650
3           4   0.837966  0.676119  0.725296     76.648650
4           5   0.846631  0.672351  0.728304     76.499030
5           6   0.836894  0.668604  0.722655     76.020439
6           7   0.831973  0.672123  0.722093     77.561574
7           8   0.841504  0.679702  0.730124     76.631950
8           9   0.840412  0.669927  0.725538     76.674816
9          10   0.851803  0.679898  0.734932     76.302964

## Case 3

In [8]:
df3 = pd.read_pickle('pickles/performance/cases/Case3/15/aggregate_15_100K_Case3.pkl')
df3

   experiment  precision    recall  f1_score  running_time
0           1   0.852284  0.681832  0.736750     77.166684
1           2   0.851033  0.674579  0.733183     77.159832
2           3   0.863108  0.687297  0.744553     76.599917
3           4   0.854729  0.680932  0.738244     75.786116
4           5   0.865753  0.681633  0.743325     76.518347
5           6   0.845904  0.670054  0.729070     76.484209
6           7   0.851113  0.668721  0.730383     78.183376
7           8   0.863032  0.694430  0.747493     77.046800
8           9   0.868583  0.689188  0.748190     76.363022
9          10   0.863782  0.687094  0.745702     76.939858

## Case 4

In [9]:
df4 = pd.read_pickle('pickles/performance/cases/Case4/15/aggregate_15_100K_Case4.pkl')
df4

   experiment  precision    recall  f1_score  running_time
0           1   0.842205  0.675130  0.728164     77.690594
1           2   0.846640  0.674468  0.729793     76.103378
2           3   0.851319  0.683381  0.737020     75.641396
3           4   0.847828  0.670057  0.728845     77.415842
4           5   0.844483  0.667567  0.726192     76.980985
5           6   0.831450  0.668815  0.720091     76.958444
6           7   0.841102  0.674718  0.727402     76.351894
7           8   0.861716  0.684101  0.742722     76.447308
8           9   0.849612  0.681882  0.734530     76.318364
9          10   0.843984  0.675006  0.728364     76.822700