In [1]:
import sys
import os
import pandas as pd

module_path = os.path.abspath(os.path.join('..'))
sys.path.insert(1, module_path)

from metrics import get_performance_df_v2

In [2]:
df1 = pd.read_pickle('pickles/performance/small_cases/Case1/aggregate_2_1000_Case1_1.pkl')
df1

   experiment  precision  recall  f1_score  running_time
0           1   0.479167  0.7125   0.54131      12.81265

In [3]:
df4 = pd.read_pickle('pickles/performance/small_cases/Case4/aggregate_2_1000_Case4_1.pkl')
df4

   experiment  precision    recall  f1_score  running_time
0           1   0.495833  0.641667  0.528333     15.299991

In [13]:
df1 = pd.read_pickle('pickles/performance/small_cases/Case1/aggregate_3_1K_Case1_30.pkl')
df1.to_csv('pickles/performance/small_cases/Case1/aggregate_3_1K_Case1_30.csv', index=False)

In [14]:
df4 = pd.read_pickle('pickles/performance/small_cases/Case4/aggregate_3_1K_Case4_30.pkl')
df4.to_csv('pickles/performance/small_cases/Case4/aggregate_3_1K_Case4_30.csv', index=False)

## Case 1

In [6]:
df1 = pd.read_pickle('pickles/performance/cases/Case1/15/aggregate_15_100K_Case1.pkl')
df1

   experiment  precision    recall  f1_score  running_time
0           1   0.855082  0.681669  0.737969     76.834924
1           2   0.861240  0.691489  0.745356     76.534963
2           3   0.866952  0.699767  0.751286     77.169492
3           4   0.862300  0.683663  0.742411     75.872279
4           5   0.851995  0.681637  0.736617     79.277014
5           6   0.855594  0.689839  0.741731     77.958064
6           7   0.847360  0.674953  0.731906     77.326715
7           8   0.843633  0.681094  0.731395     76.964614
8           9   0.843369  0.682658  0.732730     78.435174
9          10   0.862135  0.689815  0.744777     75.689646

## Case 2

In [7]:
df2 = pd.read_pickle('pickles/performance/cases/Case2/15/aggregate_15_100K_Case2.pkl')
df2

   experiment  precision    recall  f1_score  running_time
0           1   0.833921  0.672180  0.723533     77.059677
1           2   0.833589  0.672369  0.722755     76.688494
2           3   0.839977  0.669430  0.723904     77.026650
3           4   0.837966  0.676119  0.725296     76.648650
4           5   0.846631  0.672351  0.728304     76.499030
5           6   0.836894  0.668604  0.722655     76.020439
6           7   0.831973  0.672123  0.722093     77.561574
7           8   0.841504  0.679702  0.730124     76.631950
8           9   0.840412  0.669927  0.725538     76.674816
9          10   0.851803  0.679898  0.734932     76.302964

## Case 3

In [8]:
df3 = pd.read_pickle('pickles/performance/cases/Case3/15/aggregate_15_100K_Case3.pkl')
df3

   experiment  precision    recall  f1_score  running_time
0           1   0.852284  0.681832  0.736750     77.166684
1           2   0.851033  0.674579  0.733183     77.159832
2           3   0.863108  0.687297  0.744553     76.599917
3           4   0.854729  0.680932  0.738244     75.786116
4           5   0.865753  0.681633  0.743325     76.518347
5           6   0.845904  0.670054  0.729070     76.484209
6           7   0.851113  0.668721  0.730383     78.183376
7           8   0.863032  0.694430  0.747493     77.046800
8           9   0.868583  0.689188  0.748190     76.363022
9          10   0.863782  0.687094  0.745702     76.939858

## Case 4

In [9]:
df4 = pd.read_pickle('pickles/performance/cases/Case4/15/aggregate_15_100K_Case4.pkl')
df4

   experiment  precision    recall  f1_score  running_time
0           1   0.842205  0.675130  0.728164     77.690594
1           2   0.846640  0.674468  0.729793     76.103378
2           3   0.851319  0.683381  0.737020     75.641396
3           4   0.847828  0.670057  0.728845     77.415842
4           5   0.844483  0.667567  0.726192     76.980985
5           6   0.831450  0.668815  0.720091     76.958444
6           7   0.841102  0.674718  0.727402     76.351894
7           8   0.861716  0.684101  0.742722     76.447308
8           9   0.849612  0.681882  0.734530     76.318364
9          10   0.843984  0.675006  0.728364     76.822700